<% provide(:title, "Add a School") %>
<%= form_for(@school, url: new_a_school_path) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@school.errors.count, "error") %>:<br>
      <% @school.errors.full_messages.each do |msg| %>
        <small><%= msg %></small></br>
      <% end %>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-submit" %>
  </div>
<% end %>
