<%= form_for Report.new, url: reports_new_path, remote: true do |f| %>
  <div class="field">
    <%= f.hidden_field :w_class_id, value: @class.id %>
    <%= f.label :comment %><br>
    <%= f.text_area :comment, placeholder: "Leave a comment" %>
  </div>
  <div class="actions">
    <%= f.submit 'worth' %>
    <%= f.submit 'notworth' %>
  </div>
<% end %>