<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
	<div class="large-10 small-12 large-centered columns site">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</div>

</body>
</html>
